/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

:root {
    --primary-color: #0c6711;
    --secondary-color: #ff993b;
    --dark-color: #28B647;
    --white-color: #e7e7e7;
}




/*--------------------------------------*/

html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}


@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
    
}



body {
    margin-bottom: 60px;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color);
}


/* --------  Styles -------------------   */



.btn:focus {
    box-shadow: none;
}

.btn {
    border: 1px #25fb04;
    background-color: #0c6711;
}

.indexText {
    color: #010902;
    font: italic;
}


.fa-li {
    color: #0c6711;
}

/*------------Footer----------------------*/


footer {
    background-color: var(--dark-color);
}



footer {
    padding: 1rem;
}

 

