@{
    ViewData["Title"] = "Home Page";
}

<div class="container col-xxl-8 px-4 py-5">
    <div class="row g-5  row-cols-1 row-cols-lg-2">
        <div class="col order-last order-lg-first">
            <h1 class="display-5 fw-bold lh-1 mb-3 text-success">Fizz Buzz</h1>
            <h4 class="indexText">Diese Website führt Skripte aus, die Zahlen von 0 bis 100, Vielfache von 3 als Fizz und Zahlen, Vielfache von 5, als Buzz und Zahlen, Vielfache von 3 und 5, als FizzBuzz ausgeben. Der Back-End-Code dieser Website ist mit der Programmiersprache C# geschrieben.</h4>
            <ul class="fa-ul pt checklist">
                <li><span class="fa-li"><i class="fas fa-check-square"></i></span>CSS and Bootstrap</li>
                <li><span class="fa-li"><i class="fas fa-check-square"></i></span>C# Grundlagen</li>
                <li><span class="fa-li"><i class="fas fa-check-square"></i></span>C# Schleifen</li>
                <li><span class="fa-li"><i class="fas fa-check-square"></i></span>C# Methoden</li>
                <li><span class="fa-li"><i class="fas fa-check-square"></i></span>C# IF/THEN/ELSE</li>
                <li><span class="fa-li"><i class="fas fa-check-square"></i></span>C# Boolean Logik</li>
            </ul>
            <div>
                <a class="btn btn-danger btn-lg" asp-controller="Home" asp-action="FBPage">Versuch es!!!</a>
            </div>
            <div class="d-block">
                <div class="row row-cols-4 align-items-baseline ps-0 p-5 ">
                    <div class="col"><img src="~/img/iconCsharp.png" class="img-fluid" height="160" width="160" /></div>
                    <div class="col"><img src="~/img/iconBootstrap.png" class="img-fluid" height="160" width="160" /></div>
                    <div class="col"><img src="~/img/iconHtml5.png" class="img-fluid " height="160" width="160" /></div>
                    <div class="col"><img src="~/img/iconcss3.png" class="img-fluid " height="160" width="160" /></></div>
                </div>
            </div>

        </div>
            <div class="col">
                <img src="~/img/FizzBuzz.png" class="img-fluid center-block d-block mx-auto" alt="Fizz Buzz Logo" width="900" height="700">
            </div>
    </div>
</div>
